

body {
  background-color: #8D1A14;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

.location-body {
  background-color: #040000;
}

.location-body h1 {
  font-size: 60px;
}

.container {
  max-width: 100%;
  min-height: 100vh;
}

.title-and-subtitle-box {
  margin: 0 auto;
}

.page-title {
  max-width: 100%;
  color: white;
  font-size: 80px;
  text-align: center;
}

.subtitle-box {
  background-color: white;
  text-align: center;
}

.poster {
  max-width: 100%;
}

.information-box {
  margin: 0 auto;
  color: white;
  font-size: 30px;
  text-align: center;
}

a {
  color: white;
}

.link-box {
  margin: 10% 0 10% 0;
  margin-top: 9%;
  text-align: center;
}

/* || LOCATION STYLES */ 

.gallery-box {
  width: 90%;
  margin: 0 auto;
}

.photo-box {
  margin: 3% 0 3% 0;
  max-width: 100%;
}

.photo {
  max-width: 100%;
}
