

body {
  background-color: #8D1A14;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

.location-body {
  background-color: black;
}

.home-container {
  max-width: 100%;
  min-height: 100vh;
}

.title-and-subtitle-box {
  margin: 0 auto;
}

.page-title {
  color: white;
  font-size: 150px;
  text-align: center;
}

.subtitle-box {
  background-color: white;
  text-align: center;
}

.poster {
  max-width: 100%;
}

.information-box {
  margin: 0 auto;
  color: white;
  font-size: 30px;
  text-align: center;
}

a {
  color: white;
}



